@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<title>Mazica - @ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@RenderSection("styles", required: false)
</head>
<body>
    <div>
        @RenderBody()
		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")
		@RenderSection("scripts", required: false)
    </div>
</body>
</html>
